@import '../../../App.scss';

.productMainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color3;
    color: $color1;
    width: 18rem;
    height: 20rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 2rem;
    .productTop {
        width: 100%;
        height: 50%;
        background-image: url('https://images.unsplash.com/photo-1584824486509-112e4181ff6b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 2px solid black;
    }
    .productBottom {
        @include flex-center;
        flex-direction: column;
        gap: 10%;
        width: 100%;
        height: 50%;
        padding: 1% 5% 1% 5%;
        button{
            width: 40%;
            background-color: $color1;
            border-radius: 10px;
            color: $color3;
            font-weight: 700;
            border: 2px solid $color1;
            padding: 1% 0% 1% 0%;
            font-size: 0.8rem;
            transition: 0.2s;
        }
        button:hover{
            background-color: $color3;
            color: $color1;
            cursor: pointer;
        }
        p{
            font-size: 0.8rem;
        }
    }
}