@import '../App';

.footer{
    display: flex;
    background-color: $color3;
    border-top: 2px solid $color1;
    height: $nav-height;
    @include flex-center;
    font-size: 1rem;
    color: $color1;
}