@import '../../../App';

.myAccountMainContent {
    display: flex;
    flex-direction: column;
    min-height: $page-height-xs;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    font-weight: 700;
    text-align: center;

    .myAccountHeader {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .myAccountUserAndPassDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid black;
        max-width: 100%;
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 5px;

            .usernameChangeForm {
                margin: 10px 0px 10px 0px;
            }

            form {
                display: grid;
                grid-template-columns: minmax(100px, max-content) 1fr 80px;
                align-items: center;
                width: 100%;
                gap: 20px;

                button,
                input {
                    border-radius: 5px;
                    padding: 3px 2px 3px 2px;
                    border: 1px solid black;
                    font-weight: 700;
                    background: transparent;
                }

                button {
                    width: 80%;
                    background-color: $color3;
                    color: $color1;
                }

                button:hover {
                    cursor: pointer;
                }

                input {
                    padding-left: 5px;
                }
            }
        }

        .deleteAccountText {
            margin-top: 20px;
        }

        .deleteAccountBtn {
            padding: 5px 10px 5px 10px;
            font-weight: 700;
            border-radius: 5px;
            border: 1px solid black;
            margin-bottom: 5px;
            background-color: $color3;
            color: $color1;
        }

        .deleteAccountBtn:hover {
            cursor: pointer;
        }
    }

    .shippingAddressDiv {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 2px solid black;
        max-width: 100%;
        width: 100%;

        p {
            margin-bottom: 15px;
        }

        form {
            display: grid;
            // Tell the grid how we would like it setup, minmax in this case is telling the first column to be at least 150px but to stretch the max content length and then the 1fr is telling grid to assign the remaining space to the second column
            // In this instance its fine but if the first column starts to take up too much space we can assign a max value instead of max content.
            grid-template-columns: minmax(150px, max-content) 1fr;
            gap: 10px;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            button {
                // Telling this button to start at the first column line and extend all the way to the last, we do this to avoid it being locked into one of the columns like it would without this.
                grid-column: 1 / -1;
                padding: 5px 10px 5px 10px;
                font-weight: 700;
                border-radius: 5px;
                border: 1px solid black;
                background-color: $color3;
                color: $color1;
            }

            button:hover {
                cursor: pointer;
            }

            input {
                padding: 4px;
                font-weight: 700;
                border-radius: 5px;
                border: 1px solid black;
            }

            select {
                padding: 4px 4px 4px 0px;
                font-weight: 700;
                border-radius: 5px;
                border: 1px solid black;
            }
        }
    }

    .orderTrackingDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .orderDiv {
            display: flex;
            flex-direction: column;
            color: $color1;
            background-color: $color3;
            max-width: 100%;
            margin: 10px 0px 10px 0px;
            padding: 10px 10px 10px 10px;
            border-radius: 10px;
            justify-content: center;
            gap: 20px;

            .orderItem {
                display: flex;
                justify-content: flex-start;
                padding-bottom: 20px;
                border-bottom: 1px solid white;

                img {
                    height: 80px;
                    width: 80px;
                    border-radius: 10px;
                }

                .orderDetails {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 10px;
                    font-weight: 500;
                    font-size: 1rem;
                    color: $color1;
                    gap: 10px;
                }
            }
        }
    }

    // Start of our media queries

    @media (min-width: 576px) {
        min-height: $page-height-sm;
        margin-top: 1rem;
        padding: 10px 20px 10px 20px;

        .myAccountUserAndPassDiv {
            gap: 10px;
            padding-bottom: 20px;
            border-bottom: 2px solid black;
            max-width: 100%;
            width: 100%;

            p {
                font-size: 1.1rem;
            }

            div {
                form {
                    grid-template-columns: minmax(100px, max-content) 1fr 100px;
                    width: 80%;
                    gap: 20px;
                    font-size: 1rem;

                    input {
                        font-size: 0.9rem;
                    }

                    button {
                        font-size: 0.9rem;
                    }
                }
            }

            .deleteAccountText {
                margin-top: 20px;
            }

            .deleteAccountBtn {
                font-size: 0.9rem;
            }
        }

        .shippingAddressDiv {
            max-width: 100%;
            width: 100%;

            p {
                margin-bottom: 15px;
            }

            form {
                width: 80%;

                button {
                    font-size: 0.9rem;
                }

                input {
                    font-size: 0.9rem;
                }

                select {
                    font-size: 0.9rem;
                }
            }
        }
    }

    @media (min-width: 768px) {
        min-height: $page-height-md;

        .myAccountUserAndPassDiv {

            p {
                font-size: 1.2rem;
            }

            div {
                form {
                    width: 60%;
                    font-size: 1.1rem;

                    input {
                        font-size: 1rem;
                    }

                    button {
                        font-size: 1rem;
                    }
                }
            }

            .deleteAccountBtn {
                font-size: 1rem;
            }
        }

        .shippingAddressDiv {

            form {
                width: 70%;

                button {
                    font-size: 1rem;
                }

                input {
                    font-size: 1rem;
                }

                select {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (min-width: 992px) {
        min-height: $page-height-lg;

        .myAccountUserAndPassDiv {
            div {
                form {
                    width: 60%;
                }
            }
        }

        .shippingAddressDiv {

            form {
                width: 60%;

            }
        }
    }

    @media (min-width: 1200px) {
        min-height: $page-height-xl;

        .myAccountUserAndPassDiv {
            div {
                form {
                    width: 40%;
                    font-size: 1.1rem;

                    input {
                        font-size: 1rem;
                    }

                    button {
                        font-size: 1rem;
                    }
                }
            }

            .deleteAccountBtn {
                font-size: 1rem;
            }
        }

        .shippingAddressDiv {

            form {
                width: 50%;
                gap: 15px;

                button {
                    font-size: 1rem;
                }

                input {
                    font-size: 1rem;
                }

                select {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (min-width: 1400px) {
        min-height: $page-height-xxl;

        .myAccountUserAndPassDiv {
            div {
                form {
                    width: 30%;
                    font-size: 1.1rem;

                    input {
                        font-size: 1rem;
                    }

                    button {
                        font-size: 1rem;
                    }
                }
            }

            .deleteAccountBtn {
                font-size: 1rem;
            }
        }

        .shippingAddressDiv {

            form {
                width: 40%;
                gap: 15px;

                button {
                    font-size: 1rem;
                }

                input {
                    font-size: 1rem;
                }

                select {
                    font-size: 1rem;
                }
            }
        }
    }
}