@import '../../App';

.homeMainContent {
    display: flex;
    flex-direction: column;
    @include flex-center;
}

.homeSectionOne {
    display: flex;
    flex-direction: column;
    background-color: $color1;
    height: $page-height-xs;
    max-height: $page-height-xs;
    width: 100%;
    @include responsive-page;

    .sectionOneContent {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .shopNowBannerDiv {
        @include flex-center;
        height: 100%;
        width: 100%;
        background-color: $color1;

        .shopNowBanner {
            display: flex;
            @include flex-center;
            background-color: $color3;
            width: 95%;
            height: 95%;
            border: 3px solid black;
            border-radius: 10px;
            background: url('https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), rgba(0, 0, 0, 0.6);
            background-blend-mode: multiply;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            font-size: 1.5rem;

            a {
                color: black;
                font-weight: 700;
                border-radius: 10px;
                transition: 0.2s;
                text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
                text-decoration: none;
                padding: 10px 20px 10px 20px;
                background-color: $color1;
                border: 3px solid $color1;
            }

            a:hover {
                color: $color1;
                background: transparent;
                cursor: pointer;
            }

            @media (min-width: 576px) {
                font-size: 2rem;
            }

            @media (min-width: 768px) {
                font-size: 3rem;
            }

            @media (min-width: 992px) {
                font-size: 4rem;
            }

            @media (min-width: 1200px) {
                font-size: 4rem;
            }

            @media (min-width: 1400px) {
                font-size: 4rem;
            }
        }
    }

    .sectionOneCards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        width: 100%;

        .sectionOneItemOne {
            @include flex-center;
            height: 80%;
            width: 45%;
            border: 3px solid black;
            border-radius: 10px;
            // background-color: $color3;
            background: url('https://images.unsplash.com/photo-1562157873-818bc0726f68?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), rgba(0, 0, 0, 0.6);
            background-blend-mode: multiply;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            font-size: 1rem;
            text-decoration: none;

            a {
                color: black;
                font-weight: 700;
                border-radius: 10px;
                transition: 0.2s;
                text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
                text-decoration: none;
                padding: 10px 20px 10px 20px;
                background-color: $color1;
                border: 3px solid $color1;
            }

            a:hover {
                color: $color1;
                background: transparent;
                cursor: pointer;
            }

            @media (min-width: 576px) {
                font-size: 1.5rem;
            }

            @media (min-width: 768px) {
                font-size: 2rem;
            }

            @media (min-width: 992px) {
                font-size: 3rem;
            }

            @media (min-width: 1200px) {
                font-size: 3rem;
            }

            @media (min-width: 1400px) {
                font-size: 3rem;
            }
        }

        .sectionOneContactUs {
            @include flex-center;
            height: 80%;
            width: 45%;
            border: 3px solid black;
            border-radius: 10px;
            // background-color: $color3;
            background: url('https://images.unsplash.com/photo-1571079570759-8b8800f7c412?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), rgba(0, 0, 0, 0.6);
            background-blend-mode: multiply;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            font-size: 1rem;

            a {
                color: black;
                font-weight: 700;
                border-radius: 10px;
                transition: 0.2s;
                text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
                text-decoration: none;
                padding: 10px 20px 10px 20px;
                background-color: $color1;
                border: 3px solid $color1;
            }

            a:hover {
                color: $color1;
                background: transparent;
                cursor: pointer;
            }

            @media (min-width: 576px) {
                font-size: 1.5rem;
            }

            @media (min-width: 768px) {
                font-size: 2rem;
            }

            @media (min-width: 992px) {
                font-size: 3rem;
            }

            @media (min-width: 1200px) {
                font-size: 3rem;
            }

            @media (min-width: 1400px) {
                font-size: 3rem;
            }
        }
    }
}

.homeSectionTwo {
    display: flex;
    background: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), rgba(0, 0, 0, 0.6);
    // We use background blend mode here to allow for the two elements above to blend together
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

    .sectionTwoContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        @include flex-center;
        color: $color1;
        font-weight: 700;
        gap: 20px;

        h1 {
            font-size: 3rem;
        }

        .shoesButtons {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 30%;
            gap: 20px;

            a {
                text-align: center;
            }
        }

        .getShoesButton {
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            color: black;
            background-color: $color1;
            padding: 10px;
            border: 3px solid $color1;
            border-radius: 10px;
            transition: 0.2s;
        }

        .getShoesButton:hover {
            color: $color1;
            background-color: transparent
        }

        @media (min-width: 576px) {
            h1 {
                font-size: 4rem;
            }
        }

        @media (min-width: 768px) {
            h1 {
                font-size: 5rem;
            }

            .shoesButtons {
                width: 100%;
                gap: 20px;
                flex-direction: row;

                a {
                    text-align: center;
                }
            }

            .getShoesButton {
                font-size: 1.5rem;
            }
        }

        @media (min-width: 992px) {
            h1 {
                font-size: 6rem;
            }

            .shoesButtons {
                width: 100%;
                gap: 20px;
                flex-direction: row;

                a {
                    text-align: center;
                }
            }

            .getShoesButton {
                font-size: 2rem;
            }
        }

        @media (min-width: 1200px) {
            h1 {
                font-size: 7rem;
            }

            .shoesButtons {
                width: 100%;
                gap: 20px;
                flex-direction: row;

                a {
                    text-align: center;
                }
            }

            .getShoesButton {
                font-size: 2.2rem;
            }
        }

        @media (min-width: 1400px) {
            h1 {
                font-size: 8rem;
            }

            .shoesButtons {
                width: 100%;
                gap: 20px;
                flex-direction: row;

                a {
                    text-align: center;
                }
            }

            .getShoesButton {
                font-size: 2.5rem;
            }
        }
    }
}

.homeSectionThree {
    display: flex;
    background: url('https://images.unsplash.com/photo-1607082349566-187342175e2f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

    .sectionThreeContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        @include flex-center;
        color: $color1;
        font-weight: 700;
        gap: 30px;

        h1 {
            font-size: 2rem;
        }

        .checkoutSalesButton {
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            color: black;
            background: $color1;
            padding: 10px;
            border: 3px solid $color1;
            border-radius: 10px;
            transition: 0.2s;
        }

        .checkoutSalesButton:hover {
            color: $color1;
            background: transparent;
        }

        @media (min-width: 576px) {
            h1 {
                font-size: 3rem;
            }

            .checkoutSalesButton {
                font-size: 1.2rem;
            }
        }

        @media (min-width: 768px) {
            h1 {
                font-size: 4rem;
            }

            .checkoutSalesButton {
                font-size: 1.5rem;
            }
        }

        @media (min-width: 992px) {
            h1 {
                font-size: 5rem;
            }

            .checkoutSalesButton {
                font-size: 1.7rem;
            }
        }

        @media (min-width: 1200px) {
            h1 {
                font-size: 6rem;
            }

            .checkoutSalesButton {
                font-size: 2rem;
            }
        }

        @media (min-width: 1400px) {
            h1 {
                font-size: 7rem;
            }

            .checkoutSalesButton {
                font-size: 2.2rem;
            }
        }
    }
}